@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

body,
#root {
  height: 100%;
  width: 100%;
}

a,
input,
select {
  outline: none;
}

a {
  border: none;
  text-decoration: none;
  cursor: pointer;
}

input,
select,
textarea {
  border: 1px solid $gray-middle;
  outline: none;
  padding: 5px;
}
