@import '../../../style/style.scss';

.ProgressBar {
  width: 100%;
  height: 80px;
  margin: 20px 0;
  justify-content: center;

  @include for-tablet-portrait-up {
    max-width: 100%;
  }

  @include for-phone-only {
    max-width: 100%;
    margin: 20px 0 0;
  }

  .container {
    max-width: 100%;
    padding: 0;

    .page {
      width: 32px !important;
      height: 32px;
      background-color: $gray-disabled;
      color: white;

      &.true {
        background-color: $primary;
      }

      .current-true {
        font-size: 1.1em;
        font-weight: bold;
      }
    }

    .line {
      flex-grow: 1;
      height: 2px;
      background-color: $gray-disabled;

      &.true {
        background-color: $primary;
      }
    }
  }
}
