@import './style/style.scss';

.App {
  min-height: 100vh;
  text-align: center;

  display: flex;
  flex-direction: column;
  color: $primary;
}

// reset defaults
a {
  border: none;
  text-decoration: none;
  cursor: pointer;
}

.link_icon {
  margin: 10px 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: $primary;
  font-size: 12px;
  svg {
    margin-right: 5px;
    font-size: 16px;
  }
}

//typo
.p-text {
  color: $primary;
  margin: 10px 0;
}

//display
.flex-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.display-center {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// common
.btn-cta {
  margin: 10px auto;
  width: fit-content;
  padding: 15px 25px;
  text-align: center;
  line-height: 1em;
  color: $gray-light;
  background-color: $primary;
}

.main {
  display: flex;
  flex: 1;
  background-color: $gray-light;

  padding: 120px 10vw;

  @include for-phone-only {
    padding: 60px 20px;
  }
  @include for-tablet-portrait-up {
    padding: 60px 20px;
  }
  @include for-tablet-landscape-up {
    padding: 60px;
  }
  @include for-desktop-up {
    padding: 80px 10vw;
  }
  .content {
    text-align: left;
    h1,
    p {
      margin-bottom: 40px;
    }
  }
}

.card-title {
  font-size: 16px;
  font-weight: bold;

  margin: 5px 0 10px;
}

.card-description {
  font-size: 16px;
}
