@import '../style/style.scss';

.Loader {
  width: 100%;
  height: 100%;

  svg {
    #e,
    #y {
      stroke: $primary;
      stroke-width: 1px;
      fill: rgba($color: #fff, $alpha: 1);
    }

    #e {
      stroke-dasharray: 187;
      stroke-dashoffset: 187;
      animation: line-anim 1.5s cubic-bezier(0.9, 0.48, 0.52, 0.9) alternate;
      animation-iteration-count: infinite;
    }

    #y {
      stroke-dasharray: 245;
      stroke-dashoffset: 245;
      animation: line-anim 1.5s cubic-bezier(0.9, 0.48, 0.52, 0.9) alternate;
      animation-iteration-count: infinite;
    }
  }
}

@keyframes line-anim {
  to {
    stroke-dashoffset: 10;
  }
}
