@import './../style/style.scss';

@keyframes ldio-9dfcd0spdyg {
  0% {
    opacity: 1;
    backface-visibility: hidden;
    transform: translateZ(0) scale(1, 1);
  }
  100% {
    opacity: 0;
    backface-visibility: hidden;
    transform: translateZ(0) scale(1, 1);
  }
}
.ldio-9dfcd0spdyg div > div {
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #747480;
  animation: ldio-9dfcd0spdyg 1s linear infinite;
}
.ldio-9dfcd0spdyg div:nth-child(1) > div {
  left: 70px;
  top: 41px;
  animation-delay: -0.875s;
}
.ldio-9dfcd0spdyg > div:nth-child(1) {
  transform: rotate(0deg);
  transform-origin: 79px 50px;
}
.ldio-9dfcd0spdyg div:nth-child(2) > div {
  left: 62px;
  top: 62px;
  animation-delay: -0.75s;
}
.ldio-9dfcd0spdyg > div:nth-child(2) {
  transform: rotate(45deg);
  transform-origin: 71px 71px;
}
.ldio-9dfcd0spdyg div:nth-child(3) > div {
  left: 41px;
  top: 70px;
  animation-delay: -0.625s;
}
.ldio-9dfcd0spdyg > div:nth-child(3) {
  transform: rotate(90deg);
  transform-origin: 50px 79px;
}
.ldio-9dfcd0spdyg div:nth-child(4) > div {
  left: 20px;
  top: 62px;
  animation-delay: -0.5s;
}
.ldio-9dfcd0spdyg > div:nth-child(4) {
  transform: rotate(135deg);
  transform-origin: 29px 71px;
}
.ldio-9dfcd0spdyg div:nth-child(5) > div {
  left: 12px;
  top: 41px;
  animation-delay: -0.375s;
}
.ldio-9dfcd0spdyg > div:nth-child(5) {
  transform: rotate(180deg);
  transform-origin: 21px 50px;
}
.ldio-9dfcd0spdyg div:nth-child(6) > div {
  left: 20px;
  top: 20px;
  animation-delay: -0.25s;
}
.ldio-9dfcd0spdyg > div:nth-child(6) {
  transform: rotate(225deg);
  transform-origin: 29px 29px;
}
.ldio-9dfcd0spdyg div:nth-child(7) > div {
  left: 41px;
  top: 12px;
  animation-delay: -0.125s;
}
.ldio-9dfcd0spdyg > div:nth-child(7) {
  transform: rotate(270deg);
  transform-origin: 50px 21px;
}
.ldio-9dfcd0spdyg div:nth-child(8) > div {
  left: 62px;
  top: 20px;
  animation-delay: 0s;
}
.ldio-9dfcd0spdyg > div:nth-child(8) {
  transform: rotate(315deg);
  transform-origin: 71px 29px;
}
.loadingio-spinner-spin-i0u3mv4ybj {
  margin-left: 3px;
  width: 21px;
  height: 21px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-9dfcd0spdyg {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(0.21);
  backface-visibility: hidden;
  transform-origin: 0 0;
}
.ldio-9dfcd0spdyg div {
  box-sizing: content-box;
}
